doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title Roger Esteve
    body
        a(href='/minesweeper') Minesweeper (WIP)
        br
        a(href='/tetris') Tetris (WIP)
        br
        br
        a(href='/login') Log In
        br
        a(href='/signup') Sign In
