doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title Roger Esteve
    body
        form#login(action="/api/login", method='post')
            Span Username
            input.username(type='text', name='username')
            br
            Span Password 
            input.password(type='password', name='pass')
            br
            button.sub(type='submit') Log In

        br
        br

        form#newuser(action="/api/adduser", method='post')
            Span Username
            input.username(type='text', name='username')
            br
            Span Password 
            input.password(type='password', name='pass')
            br
            button.sub(type='submit') Sign Up
            p Your password will be securely stored, but just in case, we recommend not using real passwords.

        p (This page is waiting for a remake using bootstrap)

