doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title
    body
        form#newuser(action="/api/login", method='post')
            Span Username
            input#username(type='text', name='username')

            Span Password
            input#username(type='password', name='pass')
            
            button#sub(type='submit') Log In
