html(lang="en")
    head
        meta(charset="UTF-8")
        title Roger Esteve - Tic Tac Toe
        script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js')
        script.
            let user_data = !{JSON.stringify(user_data)};
        script(src='js/main.js').
    body
