doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title Tetris - Roger Esteve
        script.
            let user_data = !{JSON.stringify(user_data)};
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        script(src='js/main.js')
    body