doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title Roger Esteve - Minesweeper
    body Menjam els collons per sota de la polla. Aixo es un bon minesweeper (El buscaminas toa la laif)